.badge {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    display: inline-block;

    &__black {
        background-color: #110133;
    }
    &__purple {
        background-color: #C355F5;
    }
    &__green {
        background-color: #42B883;
    }
    &__red {
        background-color: #FF6464;
    }
    &__blue {
        background-color: #64C4ED;
    }
    &__pink {
        background-color: #FFBBCC;
    }
    &__lime {
        background-color: #B6E6BD;
    }
    &__grey {
        background-color: #C9D1D3;
    }
}